@use "./variables" as *;

.blog h2 {
  text-align: center;
}

/* CSS */

.blog-container {
  gap: 45px;
  margin-top: 5.188em;
}

.blog-col {
  width: 441px;
}

.date {
  margin-top: 2.813em;
  text-transform: uppercase;
  line-height: calc(1.212rem / 5 * 4);
}

.blog-image {
  width: 410px;
  height: 301px;
  border-radius: 2px;
}

.blog .btn-outline-round:hover {
  background-color: $primary-color-3;
}
