@use "./variables" as *;


.blog h2 {
    text-align: center;
    margin-bottom: 83px;
}

/* CSS */

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.col-one,
.col-two,
.col-three {
    width: 441px;
}


.date {
    margin-bottom: 24px;
}

.blog button {
    margin-top: 1.25em;
}

