@use "./variables" as *;

footer {
  margin-top: 215px;
}

.footer-top {
  border-top: 1px solid $white-2;
  border-bottom: 1px solid $white-2;
}

.footer-top-text {
  justify-content: center;
}

.address {
  font-weight: 600;
  font-style: normal;
}
.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.footer-bottom ul li a {
  color: #000;
  opacity: 60%;
}

.footer-social ul {
  justify-content: flex-start;
  gap: 24px;
}

.footer-social a {
  color: $primary-color-3;
  border: 1px solid $primary-color-3;
  border-radius: 4px;
  padding: 12px;
}

.footer a {
  @include gordita-light;
  font-size: 1.063rem;
  line-height: 2.75rem;
}

.footer-bottom-col-1 {
  width: 40%;
}
.footer-bottom-col-2,
.footer-bottom-col-3,
.footer-bottom-col-4 {
  width: calc(60% / 3);
}

.footer-copyright {
  margin: 0;
}
.footer-copyright p {
  margin-bottom: 0;
  text-align: center;
}

.footer-copyright div {
  width: calc(100% / 3);
}
.footer-copyright-socials {
  justify-content: flex-end;
}
