@use "./variables" as *;
h2 .grid{
    text-align: left;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 20px 5%;
    position: relative;
    margin-top: 5em;
}

.grid-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:1em;
    width:300px;
    height:310px;
    border-radius:5px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.20);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.20);
}

.circle{
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    }
img.icon{
    height:23px;
    width:22px;
}
.grid-box h4{
    margin-bottom:$p-margin-bottom
    }

.green{
    background-color: $button-color;
    border:1px solid $button-color;
}

.green h4{
    font-size:73px;
    margin:0;
}

.green,
.circle-green{
    color:#fff;
    border: 3px solid #fff;
}

.flex-space-evenly{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}