@use "./variables" as *;

h2 .grid {
  text-align: left;
}

.grid-wrapper {
  background-image: url(../assets/homepage-section/box.png);
  width: 50% auto;
  background-position: right;
  margin: 5em auto 200px;
}

.grid-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  width: 300px;
  height: 310px;
  border-radius: 5px;
  box-shadow: 0px 20px 50px #00132b09;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  background-position: center;
  background-size: cover;
}

.circle {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
img.icon {
  height: 23px;
  width: 22px;
}
// .grid-box h4{
//     margin-bottom:$p-margin-bottom
//     }

.green {
  background-color: $primary-color-3;
  border: 1px solid $primary-color-3;
}

.green .h4 {
  @include garamond-light;
  font-size: 73px;
  font-weight: 400;
  margin: 0;
  color: $white;
}

.green,
.circle-green {
  color: $white;
  border: 3px solid $white;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
