@use "./variables" as *;

.hero {
  background: url("../assets/hero-image.png") no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  // padding-top: 100px;
}

.hero-col-left {
  width: 60%;
  color: $black;
  margin-top: 70px;
}
