@use "./variables" as *;

.hero {
  background: url("../assets/homepage-section/hero-image.png") no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  // padding-top: 100px;
}

.hero-col-left {
  width: 60%;
  color: $black;
  margin-top: 70px;
}

.hero-col-right{
  position:relative;
}
.hero-image-female{
  position:absolute;
  bottom: 4em;
  left: 40em;
}
img.labels{
  position:absolute;
  bottom:10em;
  left: 34em;
}

