@use "./variables" as *;

.hero {
  background: url("../assets/homepage-section/hero-image.png") no-repeat;
  min-height: 550px;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  position: relative;
}
.hero-inner{
  overflow-x: hidden;
}
.hero-col-left {
  width: 608px;
  color: $secondary-color-5;
}

.hero h5 {
  padding-right: 120px;
}

.hero-image-female {
  position: absolute;
  bottom: 5em;
  left: 55%;
  max-width: 500px;
  width: 100%;
  padding-right:20px;
}

img.cards {
  position: absolute;
  bottom: 2em;
  right: 0;
  width: 20%;
}

.hero-image-details {
  position: relative;
  left: 14%;
  // left: 31em;
  bottom: 16em;
}

header.hero {
  width: 100%;
  margin: 0;
  padding: 0;

}
.curve {
  margin-bottom: -10px;
  margin-left: -10px;
  width: 100vw;
}
