@use "./variables" as *;

.how-it-works {
  background-color: #fff;
  text-align: center;
}

.how-it-works h2 {
  text-align: center;
}

.grid-container-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 12.5em;
}

.box {
  width: 444px;
  padding: 3.25em;
}

.box:hover {
  border-bottom: 3px solid $button-color;
}

.active:after {
  content: "";
  display: block;
  position: relative;
  border-bottom: 3px solid $button-color;
}
