@use "./variables" as *;

//Main Styles
html {
  font-size: 125%;
  background-color: white;
}

header {
  padding: 0 1em;
}

.body {
  color: $dark-green;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.nav-wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
}

h1 {
  font-weight: 500 !important;
  @include garamond-bold;
}

h2 {
  color: $secondary-header;
  @include garamond-bold;
  font-weight: 600 !important;
}

h3,
h5,
p {
  @include gordita-light;
}

p {
  line-height: 30px;
}

h5 {
  font-weight: 600;
}

h4,
h6 {
  @include garamond-bold;
}

h2,
h3 {
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: $h2-margin-bottom;
}

button {
  background-color: $green;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-round {
  border-radius: 30px;
  background-color: $button-color;
  color: white;
  padding: 10px 25px;
}

.btn-round:hover,
.btn-round:focus {
  opacity: 0.8;
  color: white;
}

.btn-square {
  border-radius: 10px;
  background-color: $button-color;
  color: white;
  padding: 10px 25px;
}

.btn-square:hover,
.btn-square:focus {
  opacity: 0.8;
  color: white;
}

a:hover,
a:focus {
  color: $button-color;
}

input {
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  width: 60%;
  margin-right: 15px;
}

.display-block {
  display: block;
}

.bold {
  font-weight: 800;
}