@use "./variables" as *;

//Main Styles
html {
  // font-size: 125%;
  background-color: #fff;
  scroll-behavior: smooth;
}

header {
  padding: 0 1em;
}

body {
  color: $dark-green;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.new-line {
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 6.875em auto;
}

.nav-wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 4em 8.75em;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
}

h1 {
  // margin-top: 7.5em;
  @include garamond-light;
  font-size: calc(5.625rem / 5 * 4);
  line-height: calc(6.25rem / 5 * 4);
  text-align: left;
}

h2 {
  @include garamond-bold;
  font-size: calc(4.5rem / 5 * 4);
  line-height: calc(5.9375rem / 5 * 4);
  text-align: left;
}

.h2-small {
  @include gordita-light;
  font-size: calc(3.375em / 5 * 4);
  line-height: calc(1.425em / 5 * 4);
}

h3 {
  @include gordita-bold;
  font-size: calc(3.25rem / 5 * 4);
  line-height: calc(4.6875em / 5 * 4);
  text-align: center;
  margin-top: 9.875em;
}

h4 {
  @include gordita-bold;
  font-size: calc(2.625rem / 5 * 4);
  line-height: calc(2.625rem / 5 * 4);
  color: $button-color;
  margin-top: 4.5625em;
}

h5 {
  @include gordita-light;
  font-size: calc(1.25rem / 5 * 4);
  line-height: calc(2.375rem / 5 * 4);
  margin-top: 1.69em;
}

.h5-strong {
  @include gordita-bold;
  font-size: calc(1.375rem / 5 * 4);
  line-height: calc(1.9375em / 5 * 4);
  margin-top: 2em;
}

h6 {
  @include gordita-light;
  font-size: calc(1.5rem / 5 * 4);
  line-height: calc(1.75rem / 5 * 4);
  margin-top: 2.0625em;
}

p {
  @include gordita-light;
  font-size: calc(1rem / 5 * 4);
  line-height: calc(2.1875rem / 5 * 4);
  margin-top: 2.125em;
}

.p-opacity {
  line-height: calc(1.75em / 5 * 4);
  opacity: 50%;
}

.p-small {
  font-size: calc(0.875rem / 5 * 4);
  line-height: calc(1.875rem / 5 * 4);
  margin-top: 1.3125em;
  opacity: 50%;
}

.p-large {
  font-size: calc(1.125rem / 5 * 4);
  line-height: calc(2.625rem / 5 * 4);
  opacity: 40%;
}

.navbar-menu,
.login {
  @include circular-std-light;
  font-size: calc(1.125rem / 5 * 4);
  line-height: calc(3.125rem / 5 * 4);
}

.navbar-menu:hover {
  color: $button-color;
}

.email {
  @include gordita-bold;
  font-size: calc(1.125rem / 5 * 4);
  margin-top: 0.625em;
  color: $button-color;
  line-height: calc(1.603125rem / 5 * 4);
  text-decoration: underline;
}

.ls-2 {
  letter-spacing: 2px;
}

.uppercase {
  text-transform: uppercase;
}

.icon-1 {
  margin-top: 4.4375em;
}

// .icon-2 {
//   height:2.63em;
//   width:2.63em;
// }

.icon-3 {
  margin-top: 2.375em;
  margin-right: 0.75em;
  width: 8.0625em;
  height: 2.1875em;
}

.logo-footer {
  width: 100%;
  max-height: 5.625em;
  max-width: 7.4375em;
}

button {
  background-color: $green;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.left {
  text-align: left;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-round {
  @include circular-std;
  font-size: calc(1.25rem / 5 * 4);
  line-height: calc(1.875rem / 5 * 4);
  border-radius: 50px;
  background-color: $button-color;
  color: #fff;
  margin-top: 3.125em;
  padding: 0.645em 1.75em;
}

.btn-round:hover,
.btn-round:focus {
  opacity: 0.8;
  color: #fff;
}

.btn-round-outline {
  border-radius: 30px;
  background-color: #fff;
  color: $button-color;
  border: 1px solid $button-color;
  padding: 10px 25px;
}

.btn-round-outline:hover,
.btn-round-outline:focus {
  opacity: 0.8;
  color: #fff;
  background-color: $button-color;
}
.btn-square {
  border-radius: 5px;
  background-color: $button-color;
  color: #fff;
  padding: 10px 25px;
}

.btn-register {
  @include circular-std;
  font-size: calc(1.063rem / 5 * 4);
  line-height: calc(1.875rem / 5 * 4);
  border-radius: 50px;
  background-color: $button-color;
  color: #fff;
  padding: 0.645em 1.75em;
}

.btn-square:hover,
.btn-square:focus,
.btn-register:hover,
.btn-register:focus {
  opacity: 0.8;
  color: #fff;
}

.btn-square-wide {
  border-radius: 5px;
  background-color: $button-color;
  color: #fff;
  padding: 20px 25px;
}

.btn-square-wide:hover,
.btn-square-wide:focus {
  opacity: 0.8;
  color: #fff;
}

.btn-square-outline {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid $button-color;
  color: $button-color;
  padding: 20px 25px;
  margin-right: 20px;
}

.btn-square-outline:hover,
.btn-square-outline:focus {
  opacity: 0.8;
  color: #fff;
}

a:hover,
a:focus {
  color: $button-color;
}

form {
  line-height: 0;
}

input {
  border: none;
  border-radius: 30px;
  padding: 1.1em 0 0.75em 1.75em;
  // padding: 10px 25px;
  line-height: calc(1.25rem / 5 * 4);
  width: 100%;
  max-width: 19.875em;
  margin-right: 1.125em;
}
input::placeholder {
  font-size: 0.93rem;
  @include gordita-light;
}
.display-block {
  display: block;
}

.bold {
  font-weight: 800;
}

.underline {
  text-decoration: underline;
}
//margins
.mt-11 {
  margin-top: 0.69em;
}
//line heights
.lh-small {
  line-height: 1.875rem;
}
