@use "./variables" as *;

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .grid,
    .grid-container-three {
      grid-template-columns: repeat(1, 1fr);
    }
    .flex {
      display: flex;
      flex-direction: column;
    }

  .testimonials-left {
    width: 100%;
    margin-right: 0;
  }

  .testimonials-right {
    width: 100%;
    margin-left: 0;
    height: auto;
    background-position: center;
  }

  .slideshow-slider {
    margin-right: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .slide {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    padding: 24px;
  }

  .testimonial-title {
    margin-top: 1.5em;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .testimonial-author-mt {
    margin-top: 1.5em;
  }
}
