@use "./variables" as *;


.testimonials-left{
    width: 40%;
    // margin-right:293px;
}

.testimonials-right{
    width: 60%;
    background: url("../assets/icons/bg-green-testimonials.png")no-repeat;
    background-size:cover;
    height:690px;
    margin-left:150px;

}

.flex-start div:last-child{
    margin-left:auto;
}

.testimonial-avatar{
    margin-right:1.625em;
}